<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started ?</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus
        sit dolore quo, esse ea explicabo error ipsa laborum nesciunt ex,
        corrupti consequatur id quos aperiam! Iure quia doloremque in vitae.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
