<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <svg class="icon icon--secondary collapsible__chevron">
      /* icon not display properly icon--white apply*/
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique eligendi
    sit nostrum veritatis, perferendis voluptates suscipit est magnam architecto
    dolorum.
  </div>
</div>
<script src="js/main.js"></script>
